.page-cover{
    height: 100vh;
}
.white-text{
    color: white !important;
}
.white-text::placeholder{
    color: white !important;
}
.input-area{
    transition: border 1s ease-in-out;
    box-sizing: border-box;
}
.input-area:hover, .input-area:focus-within{
    border: 1px solid darkgreen !important;
    box-shadow: inset 0 0 10px 3px rgba(0, 128, 0, 0.7), 0 0 10px 3px rgba(0, 255, 0, 0.7);
}
.information-area{
    background-color: rgb(55, 54, 54);
}
.icon-buttons{
    background: none !important;
}
.text-light-emphasis{
    filter: brightness(1.3);
}
.btn-close {
    width: 20px;
    height: 20px;
}

.toast-header {
    align-items: right;
    padding: 2px;
}
.underscore {
    height: 10px;
    animation: underscore-show 5s forwards; 
}

@keyframes underscore-show {
    0% {
        width: 100% !important;
        background-color: white;
    }
    100% {
        width: 0 !important;
        background-color: white;
    }
}